@font-face {
  font-family: "iconfont"; /* Project id 1786651 */
  src: url('iconfont.woff2?t=1637139571540') format('woff2'),
       url('iconfont.woff?t=1637139571540') format('woff'),
       url('iconfont.ttf?t=1637139571540') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconStar:before {
  content: "\e67e";
}

.iconjianqu:before {
  content: "\e68b";
}

.iconerweima:before {
  content: "\e698";
}

.iconxuanzhong:before {
  content: "\e699";
}

.icondropbox:before {
  content: "\e664";
}

.iconcheck-circle-fill:before {
  content: "\e665";
}

.iconflag-fill:before {
  content: "\e666";
}

.iconbell-fill:before {
  content: "\e668";
}

.iconcrown-fill:before {
  content: "\e669";
}

.iconclose-circle-fill:before {
  content: "\e66a";
}

.iconheart:before {
  content: "\e66b";
}

.iconheart-fill:before {
  content: "\e66c";
}

.iconmenu:before {
  content: "\e66d";
}

.iconhome-fill:before {
  content: "\e66e";
}

.iconlayout-fill:before {
  content: "\e66f";
}

.iconnotification-fill:before {
  content: "\e670";
}

.iconplus:before {
  content: "\e671";
}

.iconplus-circle-fill:before {
  content: "\e672";
}

.iconsearch1:before {
  content: "\e673";
}

.iconscan:before {
  content: "\e674";
}

.iconright-arrow:before {
  content: "\e675";
}

.iconsetting-fill:before {
  content: "\e676";
}

.iconshare:before {
  content: "\e677";
}

.iconsound-fill:before {
  content: "\e678";
}

.iconstar:before {
  content: "\e679";
}

.iconuser:before {
  content: "\e67a";
}

.icontag-fill:before {
  content: "\e67b";
}

.iconguanli:before {
  content: "\e67c";
}

.iconshouquan:before {
  content: "\e67d";
}

.icontianjia:before {
  content: "\e604";
}

.icontianjia1:before {
  content: "\e68a";
}

.icongouwucheman:before {
  content: "\e600";
}

.icon48:before {
  content: "\e631";
}

.iconchangyongicon-:before {
  content: "\e618";
}

.iconcollection:before {
  content: "\e611";
}

.iconshoucang:before {
  content: "\e630";
}

.iconsearch:before {
  content: "\e7b3";
}

.iconcanju:before {
  content: "\e619";
}

.iconyonghuming:before {
  content: "\e606";
}

.iconfanhui:before {
  content: "\e63b";
}

.iconyoujiantou1:before {
  content: "\e628";
}

.icondingdan:before {
  content: "\e65b";
}

.iconfenlei:before {
  content: "\e61b";
}

.iconzhuye:before {
  content: "\e667";
}

.iconmima:before {
  content: "\e624";
}

